@model FoundMovies

@{
    ViewData["Title"] = "SearchResults";
}

<div class="text-center">
<<<<<<< HEAD
    <h3 class="display-4">Welcome to our Movie App!</h3>
=======
    <h3 class="display-4">Search Results</h3>
>>>>>>> 40838b3b8e7e071c73ac6879f931d374c2a09779
</div>

@if (Model.totalResults != null)
{
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Year
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Search)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a asp-action="MovieDetails" asp-route-id="@item.imdbID">Details</a>
<<<<<<< HEAD
=======
                </td>
                <td>
>>>>>>> 40838b3b8e7e071c73ac6879f931d374c2a09779
                    <a asp-action="AddFavorite" asp-route-id="@item.imdbID">Add To Favorites</a>
                </td>
            </tr>
        }
<<<<<<< HEAD
    </table>
=======

    </table>
    <a asp-controller="Home" asp-action="Index">Back to Search</a>
>>>>>>> 40838b3b8e7e071c73ac6879f931d374c2a09779
}
else
{
    <p>Couldn't find anything!</p>
    <a asp-controller="Home" asp-action="Index">Try searching again?</a>
}